@import "tailwindcss";

@theme {
  --font-sans: system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --pad: max(24px, 5vmin);
  font-family: var(--font-mono);
}

html,
body {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-gray-950;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
